.btn {
	@include css-vars((
		--btn-bg-color: $monza,
		--btn-text-color: white,
		--btn-bg-color-hover: darken($monza, 15%),
	));

	box-sizing:border-box;
	color: var(--btn-text-color);
	display: inline-block;
	padding:$space $space-half*7 $space-half*2;
	position:relative;
	border:none;
	font: $font-headings;
	@include font-size(16px);
	letter-spacing: em(1,16);
	line-height: em(22,16);
	text-decoration: none;
	text-transform: uppercase;
	white-space: nowrap;
	border-radius: 4px;
	outline:none;

	&:after,
	&:before {
		background:var(--btn-bg-color);
		width:100%;
		height:100%;
		top:0;
		left:0;
		position:absolute;
		content:"";
		display: block;
		z-index:-2;
		border-radius: 4px;

		transition-property: transform, opacity;
		transition-duration:0.3s;
		transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);

		.timepicker & {
			display:none;
		}
	}

	&:after {
		opacity:0;
		transform: scale3d(0.7, 1, 1);
		z-index:-1;
		background:black;
	}

	&:hover,
	.user-panel li:hover > & {
		color:white;
		text-decoration: none;
		outline:none;

		&:after {
			transform: translate3d(0, 0, 0);
			opacity: 1;
		}
	}
	&:active, &:focus {
		outline:none;
		text-decoration: none;
		color:white;
	}

	.timepicker & {
		all:unset;
	}
}

.btn--dark {
	@include css-vars((
		--btn-bg-color: black,
		--btn-bg-color-hover: $monza,
	));
	color:var(--btn-text-color);
	
	&:before {
		background:var(--btn-bg-color);	
	}
	&:after {
		background:var(--btn-bg-color-hover);
	}
}
.btn--white {
	@include css-vars((
		--btn-bg-color: white,
		--btn-bg-color-hover: $monza,
		--btn-text-color: black,
	));

	color:var(--btn-text-color);
	
	&:before {
		background:var(--btn-bg-color);	
	}
	&:after {
		background:var(--btn-bg-color-hover);
	}
}

.btn--green,
[type=submit] {
	@include css-vars((
		--btn-bg-color: $shamrock,
		--btn-bg-color-hover: black,
		--btn-text-color: white,
	));
	color:var(--btn-text-color);

	&:before {
		background:var(--btn-bg-color);	
	}
	
	&:after {
		background:var(--btn-bg-color-hover);
	}
}



.btn--hollow {
	@include css-vars((
		--btn-bg-color: white,
		--btn-text-color: black,
		--btn-bg-color-hover: black,
	));
	
	color:var(--btn-text-color);

	border:3px solid;
	padding:12px 30px 7px;

	&:before {
		background:var(--btn-bg-color);
	}

	&:hover {
		color: white;
		border-color:black;
	}

	&:after {
		background:var(--btn-bg-color-hover);
		border-radius:0;
	}

}

.btn--w-icon {
	//padding-left:25px;
}

.btn--link {
	@include css-vars((
		--btn-text-color: black,
	));

	background:none;
	padding:14px 0 0 0;
	border-bottom:4px solid;
	border-radius:0;
	color:var(--btn-text-color);

	.site-header & {
		@media (max-width: $screen-md-max) {
			color:white;
		}
	}

	&:hover {
		color: $monza;
	}

	&:after,
	&:before {
		top: 100%;
		display: none;
	}
	&:active, &:focus {
		color:$monza;
	}
}

.btn--w-action {
	padding-left:0;
	transition:padding 0.2s ease;
	overflow: hidden;

	&[aria-expanded="false"] {
		padding-left:30px;
	}
	&[aria-expanded="true"] {
		padding-left:0;
	}
}
.btn--w-state {
	[data-state="selected"] & {
		&:before {
			background:$chateau-green;	
		}
		&:after {
			background:black;
		}
	}
}

.btn__label {
	display: inline-block;
	
	&.btn__label--left {
		margin-right:20px;
	}
}

.btn__icon {
	@include font-size(22px);
	display: inline-block;
	vertical-align: -7px;
    top: -2px;
    position: relative;

    .s-header__col--user & {
		top:0;
    }

	&.btn__icon--left {
		margin-right:10px;
	}
	&.btn__icon--right {
		margin-left:10px;
	}
	&.btn__icon--block {
		background:var(--btn-text-color);
		color:var(--btn-bg-color);
		padding: 13px 10px;
    	position: absolute;
    	right:0px;
		top:0;
		transition:right 0.2s ease;
		transition-delay:0.1s;

		.btn--w-action & {
			right:0px;
		}
		.btn--w-action[aria-expanded="false"] & {
			right:-45px;
		}
		.btn--w-action[aria-expanded="true"] & {
			right:0px;
		}
	}


	&:before {
		display: block;
	}
}

.btn--disabled {
	@include css-vars((
		--btn-bg-color: $quill-grey,
		--btn-bg-color-hover: $quill-grey,
	));
	
	color:var(--btn-text-color);
	
	&:before {
		background:var(--btn-bg-color);	
	}
	&:after {
		background:var(--btn-bg-color-hover);
	}
}

.b-cluster__link {
	text-transform: uppercase;
	color:white;
	font:$font-headings;

	&:hover {
		color:white;
	}

	&:last-child {
		vertical-align: -15px;
	}
}