.list-inline {
	> li {
		margin-left: 5px;
    	margin-right: 5px;

		@media (min-width: $screen-md-min) {
			display:inline-block !important;
			margin-bottom:0;
		}
	}
	&.hero__list {
		li {
			@media (min-width: $screen-md-min) {
				margin-right: 25px;
			}

			&:last-child {
				margin-right:0;
			}
		}
	}
}

.vertical-align {
	display: flex;
	align-items: center;

	&.row {
		@media (max-width: $screen-sm-min) {
			display: block;
		}
	}
}
.vertical-align-xs {
	display: flex;
	align-items: center;

	&.row {
		display: flex;
	}
}

.flexible {
	img, video, object {
		max-width: 100%;
	    height: auto;
	    min-height:100%;
	    object-fit:cover;
	}
}

// Classes
.pull-left {
  float: left !important;
}
.pull-right {
  float: right !important;
}

.clear {
	clear:both;
}

.clearfix {
	@include clearfix;
}

.full-height {
	height:100%;
	width:auto;
	object-fit:cover;

	.section & {
		@media (min-width: $screen-md-min) {
			margin-top:-50px;
			margin-bottom:-50px;
		}
	}
}

.col--stacked {
	@media (max-width: $screen-md-min) {
		margin-bottom:30px;
	}

	&:last-child {
		margin-bottom:0px;
	}
}

.equal-heights {
	@media (min-width: $screen-md-min) {
		display:flex;
	}

	.eq-h-col {
		@media (min-width: $screen-md-min) {
			height:100%;
		}
		
		&.schedule {
			@media (min-width: $screen-md-min) {
				padding-bottom:137px;
			}
		}
	}
}

.scroll-wide {
	@media (max-width: $screen-lg-min) {
		min-width:100%;
		overflow:visible;
	    overflow-x: scroll;
	}
}