//$css-vars-use-native: true;

$mine-shaft:#373737;
$monza:#C20430;
$frolly:#F3697A;
$dusty-gray:#9B9B9B;
$scorpion:#585858;
$wild-sand:#F5F5F5;
$mercury: #E4E4E4;
$gray:#888888;
$boulder:#797979;
$tundora:#4A4A4A;
$dusty-grey:#979797;
$chateau-green:#32AD57;
$forest-green:$chateau-green;
$quill-grey:#CECECC;
$shamrock:$chateau-green;
$gallery:#ECECEC;
$pampas:#F9F9F6;
$aluminium:#A1A2A5;
$alto:#D7D7D7;
$tuna:#3D3E42;
$alabaster:#FAFAFA;
$shark:#202023;
$mischka:#D7D6D8;
$green-white:#E5E5DA;