@charset "UTF-8";

[data-icon]:before {
  font-family: "lesmil" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "lesmil" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-close:before {
  content: "\e001";
}
.icon-chevron-down:before {
  content: "\e002";
}
.icon-arrow-back:before {
  content: "\e004";
}
.icon-arrow-forward:before {
  content: "\e005";
}
.icon-arrow-down:before {
  content: "\e003";
}
.icon-chevron-right:before {
  content: "\e006";
}
.icon-chevron-left:before {
  content: "\e007";
}
.icon-chevron-up:before {
  content: "\e008";
}
.icon-arrow-up:before {
  content: "\e009";
}
.icon-timer:before {
  content: "\e00a";
}
.icon-exclaimation-outline:before {
  content: "\e00b";
}
.icon-phone:before {
  content: "\e00d";
}
.icon-location:before {
  content: "\e00e";
}
.icon-mail:before {
  content: "\e00c";
}
.icon-spotify-circled:before {
  content: "\e00f";
}
.icon-instagram-circled:before {
  content: "\e010";
}
.icon-facebook-circled:before {
  content: "\e011";
}
.icon-share-facebook:before {
  content: "\e012";
}
.icon-share-google-plus:before {
  content: "\e013";
}
.icon-droplet:before {
  content: "\e014";
}
.icon-burger:before {
  content: "\e015";
}
.icon-expand:before {
  content: "\e016";
}
.icon-check:before {
  content: "\e017";
}
.icon-warning:before {
  content: "\e018";
}
.icon-calendar:before {
  content: "\e019";
}
.icon-school:before {
  content: "\e01a";
}
.icon-search:before {
  content: "\e000";
}
.icon-cc-visa:before {
  content: "\e01b";
}
.icon-calculator:before {
  content: "\e01c";
}
.icon-home:before {
  content: "\e01d";
}
.icon-multi-homes:before {
  content: "\e01e";
}
.icon-payment:before {
  content: "\e01f";
}
.icon-sunny:before {
  content: "\e020";
}
.icon-check-box:before {
  content: "\e021";
}
.icon-check-box-outline:before {
  content: "\e022";
}
.icon-check-circle:before {
  content: "\e023";
}
.icon-heartbeat:before {
  content: "\e024";
}
.icon-camera-enhance:before {
  content: "\e025";
}
.icon-heart-o:before {
  content: "\e026";
}
.icon-heart:before {
  content: "\e027";
}
.icon-phonelink:before {
  content: "\e028";
}
.icon-domain:before {
  content: "\e029";
}
.icon-phonelink-ring:before {
  content: "\e02a";
}
.icon-add-circle:before {
  content: "\e02b";
}
.icon-cancel:before {
  content: "\e02c";
}
.icon-info:before {
  content: "\e02d";
}
.icon-info-outline:before {
  content: "\e02e";
}
.icon-add:before {
  content: "\e02f";
}
.icon-tune:before {
  content: "\e030";
}
.icon-run:before {
  content: "\e031";
}
.icon-weights:before {
  content: "\e032";
}
.icon-announcement:before {
  content: "\e033";
}
.icon-event-note:before {
  content: "\e034";
}
.icon-id:before {
  content: "\e035";
}
.icon-star:before {
  content: "\e036";
}
.icon-ic-slideshow-48px:before {
  content: "\e037";
}
.icon-ic-slideshow-48px-1:before {
  content: "\e038";
}
.icon-sort:before {
  content: "\e039";
}
.icon-caret-right:before {
  content: "\e03a";
}
.icon-ic-download:before {
  content: "\e03b";
}
