//TODO: refactor radio__label - extract psuedo from nest;
.radio {
	input[type="radio"] {
		display: none;
	}

	&.radio--no-label {
		display:block;
		height:60px;
		top:20px;
		padding-left:10px;
		border-bottom:1px solid $dusty-gray;

		&:hover {
			cursor:pointer;
		}

		&:before {
			vertical-align: -22px;
			content: attr(data-label);
		}

		@media all and (min-width:992px) {
			border-bottom:none;
			padding-left:0px;
			top:0px;
			display:initial;
			height:0px;
			&:before {
				display:none;
			}
		}
	}
}

.radio__section {
	padding-left:15px;
	margin-bottom:25px;
}

.radio__label {
	@include heading-style;
	font-weight: bold;
	@include font-size(18px);
	cursor:pointer;
	position:relative;
	padding-left:30px;
	color: $boulder;

	&:before {
		@include font-size(24px);
		@include icon-font;
		content:"";
		display: block;
		background:white;
		border-radius: 4px;
		height:20px;
		width:20px;
		position:absolute;
		left:0;
		top:0;
		border-radius: 100%;
		border:1px solid transparent;

		transition-property:border-color;
		transition-timing-function:ease;
		transition-duration:0.2s;

		input[type="radio"]:checked + & {
			border-color:$boulder;
		}
	}
	&:after {
		content:"";
		position:absolute;
		left:0;
		top:1px;
		border:1px solid $boulder;
		height:20px;
		width:20px;
		border-radius: 100%;

		transition-property:background, border-color, left, top, width, height;
		transition-timing-function:ease;
		transition-duration:0.2s;

		@media all and (min-width:992px) {
			top:0;
		}

		input[type="radio"]:checked + & {
			background:$shamrock;
			border-color:$shamrock;
			left: 4px;
			top: 4px;
			height: 12px;
			width: 12px;

			.radio--no-label & {
				right: 14px;
				left: unset;

				@media all and (min-width:992px) {
					right: 0;
					left: 0;
				}
			}
		}
	}


	&:hover:after {
		left: 4px;
		top: 4px;
		height: 12px;
		width: 12px;

		.radio--no-label & {
			right:14px;

			@media all and (min-width:992px) {
				right:0;
			}
		}
	}

	.radio--alt & {
		color:black;
		margin-bottom: 15px;
		font-weight:900;
	}

	.radio--no-label & {
		bottom:21px;
		margin-bottom: 0;

		&:after, &:before {
			margin:0 auto;
			left:unset;
			right:10px;
		}

		&:after {
			right:10px;

		}

		@media all and (min-width:992px) {
			bottom:11px;
			&:after, &:before {
				right:0;
				left:0;
			}
		}
	}
}

.radio__description {
	color: $boulder;
	margin-left:30px;
}

.radio__label--long {
	font:$font-default;
	@include reading-style;
	text-transform: none;
}