.stepped-sentance {
	@include font-size(15px);
	font-weight: 300;
	letter-spacing: em(1,15);

	@media (max-width: $screen-sm-min) {
		margin:20px 0;
		text-align:center;
	}

	b {
		@include font-size(18px);
		font-weight: 600;
		margin-right: 20px;

		@media (max-width: $screen-lg-min) {
			display: block;
		}
	}
}