.tertiary-nav {
	box-shadow: 0 2px 3px 0 rgba(0,0,0,0.22);
}

.tertiary-nav__title {
	font:$font-menus-alt;
	@include font-size(12px);
	background:$wild-sand;
	padding:20px 30px;
}

.tertiary-nav__toggle {
	float:right;
	margin-top:-3px;
	overflow: hidden;
	
	i {
		display: block;
		@include font-size(24px);

		&:before {
			display: block;
		}
	}
}

.tertiary-nav__menu {
	background:transparent;
	position:absolute;
	width:100%;
	z-index:$tertiary-nav-z;
	

	[data-accordion="open"] & {
		//overflow: scroll;
		//max-height:520px;
	}
}

.tertiary-nav__item {
	@include accordion-animation(0.35);
	border-top:1px solid $alto;
	background:$wild-sand;
}

.tertiary-nav__link {
	padding:20px 30px;
	display: block;
	color:$mine-shaft;
	font:$font-menus-alt;
	@include font-size(12px);

	&:active,
	&:focus,
	&:hover {
		color:$mine-shaft;
		outline:none;
		text-decoration:none;
	}

	li:last-child & {
		//padding-bottom:30px;
	}
}